*{
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    font-weight: lighter;
    
}

body{
    background-color: black;
}


.no-highlight {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

/* 
  #mFirst{
    width: 350px;  
    background-color: red;
  } */